@import url(variable.css);

@media only screen and (min-width: 720px) {
  nav {
    padding: 0 80px;
    align-items: center;
    justify-content: space-betweens;
  }

  .nav__kanan {
    /* background: black; */
    position: relative;
    top: 0;
    flex-direction: row;
    z-index: 100;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 0;
    z-index: 0;
    box-shadow: none;
    background: none;
    transform: translateY(0vh);
    transition: var(--transisi-2);
    gap: 2rem;
  }

  .nav__list {
    flex-direction: row;
    gap: 0;
    padding: 0;
    height: 100%;
  }

  .nav__list li a {
    padding: 0 15px;
  }
  .nav__ujung {
    padding: 0;
    border: none;
    gap: 1rem;
  }

  #navToggle {
    display: none;
  }

  
  
  
  /* HOME-SECTION */

  .main-home{
    flex-direction: row;
    padding-bottom: 3rem;
  }

  .main-home .kiri {
    
    width: 50%;
  }
  .main-home .kanan {
    display: flex;
    width: 50%;
    overflow: hidden;
  }

  .main-home .kanan img {
    position: absolute;
    width:30rem;
    overflow: hidden;
    
  }


  .main-home .kanan img:nth-child(1){
    right: -5rem;
  }
  .main-home .kanan img:nth-child(2){
    top: 170px;
    right: 5rem;
  }

  .main-home .kiri .title-home .h1 {
    font-size: 60px;
  }

  .card-home{
    display: flex;
    /* background-color: red; */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-home .card {
    width: 28vw;
  }

  /* --------------------MEDIA QUERY------------ */
}


@media only screen and (min-width: 720px){
  .main-home {
    justify-content: center;
    
  }


  /* FULL HD RESPONSIVE */
}